<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
	<title>Omah - Real Estate Admin Dashboard Template</title>
 
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="index, follow">
   
	<meta name="keywords" content="admin, dashboard, admin dashboard, admin template, template, admin panel, administration, analytics, bootstrap, hospital admin, modern, property, real estate, responsive, creative, retina ready, modern Dashboard">
	<meta name="description" content="Your Ultimate Real Estate Admin Dashboard Template. Streamline property management, analyze market trends, and boost productivity with our intuitive and feature-rich solution. Elevate your real estate business today!">
   
	<meta property="og:title" content="Omah - Real Estate Admin Dashboard Template">
	<meta property="og:description" content="Your Ultimate Real Estate Admin Dashboard Template. Streamline property management, analyze market trends, and boost productivity with our intuitive and feature-rich solution. Elevate your real estate business today!">
	<meta property="og:image" content="https://omah.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
   
	<meta name="twitter:title" content="Omah - Real Estate Admin Dashboard Template">
	<meta name="twitter:description" content="Your Ultimate Real Estate Admin Dashboard Template. Streamline property management, analyze market trends, and boost productivity with our intuitive and feature-rich solution. Elevate your real estate business today!">
	<meta name="twitter:image" content="https://omah.dexignzone.com/xhtml/social-image.png">
	<meta name="twitter:card" content="summary_large_image">

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link rel="stylesheet" href="vendor/toastr/css/toastr.min.css">
    <!-- Custom Stylesheet -->
    <!-- Custom Stylesheet -->
    <link href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet">
	<link href="vendor/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <div id="loaderOverlay">
            <div class="spinner"></div>
        </div>
    

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="images/logo.png" alt="/">
                <h6 class="logo-compact">Soaro</h6>
                <img class="brand-title" src="images/logo-text.png" alt="/">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		<div class="chatbox">
			<div class="chatbox-close"></div>
			<div class="custom-tab-1">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="add-property.html#notes">Notes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="add-property.html#alerts">Alerts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" data-bs-toggle="tab" href="add-property.html#chat">Chat</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active show" id="chat" role="tabpanel">
						<div class="card mb-sm-3 mb-md-0 contacts_card dz-chat-user-box">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/><rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/></g></svg></a>
								<div>
									<h6 class="mb-1">Chat List</h6>
									<p class="mb-0">Show All</p>
								</div>
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg></a>
							</div>
							<div class="card-body contacts_body p-0 dz-scroll  " id="DZ_W_Contacts_Body">
								<ul class="contacts">
									<li class="name-first-letter">A</li>
									<li class="active dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Archie Parker</span>
												<p>Kalid is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/2.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Alfie Mason</span>
												<p>Taherah left 7 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/3.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>AharlieKane</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/4.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Athan Jacoby</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">B</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/5.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Bashid Samim</span>
												<p>Rashid left 50 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Breddie Ronan</span>
												<p>Kalid is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/2.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Ceorge Carson</span>
												<p>Taherah left 7 mins ago</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">D</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/3.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Darry Parker</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/4.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Denry Hunter</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">J</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/5.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Jack Ronan</span>
												<p>Rashid left 50 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Jacob Tucker</span>
												<p>Kalid is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/2.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>James Logan</span>
												<p>Taherah left 7 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/3.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Joshua Weston</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">O</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/4.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Oliver Acker</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/5.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Oscar Weston</span>
												<p>Rashid left 50 mins ago</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="card chat dz-chat-history-box d-none">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);" class="dz-chat-history-back">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon points="0 0 24 0 24 24 0 24"/><rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000) " x="14" y="7" width="2" height="10" rx="1"/><path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) "/></g></svg>
								</a>
								<div>
									<h6 class="mb-1">Chat with Khelesh</h6>
									<p class="mb-0 text-success">Online</p>
								</div>							
								<div class="dropdown">
									<a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg></a>
									<ul class="dropdown-menu dropdown-menu-end">
										<li class="dropdown-item"><i class="fas fa-user-circle text-primary me-2"></i> View profile</li>
										<li class="dropdown-item"><i class="fas fa-users text-primary me-2"></i> Add to close friends</li>
										<li class="dropdown-item"><i class="fas fa-plus text-primary me-2"></i> Add to group</li>
										<li class="dropdown-item"><i class="fas fa-ban text-primary me-2"></i> Block</li>
									</ul>
								</div>
							</div>
							<div class="card-body msg_card_body dz-scroll" id="DZ_W_Contacts_Body3">
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										Hi, how are you samim?
										<span class="msg_time">8:40 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Hi Khalid i am good tnx how about you?
										<span class="msg_time_send">8:55 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										I am good too, thank you for your chat template
										<span class="msg_time">9:00 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										You are welcome
										<span class="msg_time_send">9:05 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										I am looking for your next templates
										<span class="msg_time">9:07 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Ok, thank you have a good day
										<span class="msg_time_send">9:10 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										Bye, see you
										<span class="msg_time">9:12 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										Hi, how are you samim?
										<span class="msg_time">8:40 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Hi Khalid i am good tnx how about you?
										<span class="msg_time_send">8:55 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										I am good too, thank you for your chat template
										<span class="msg_time">9:00 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										You are welcome
										<span class="msg_time_send">9:05 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										I am looking for your next templates
										<span class="msg_time">9:07 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Ok, thank you have a good day
										<span class="msg_time_send">9:10 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										Bye, see you
										<span class="msg_time">9:12 AM, Today</span>
									</div>
								</div>
							</div>
							<div class="card-footer type_msg">
								<div class="input-group">
									<textarea class="form-control" placeholder="Type your message..."></textarea>
									<div class="input-group-append">
										<button type="button" class="btn btn-primary"><i class="fas fa-location-arrow"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="alerts" role="tabpanel">
						<div class="card mb-sm-3 mb-md-0 contacts_card">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg></a>
								<div>
									<h6 class="mb-1">Notications</h6>
									<p class="mb-0">Show All</p>
								</div>
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/><path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/></g></svg></a>
							</div>
							<div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body1">
								<ul class="contacts">
									<li class="name-first-letter">SEVER STATUS</li>
									<li class="active">
										<div class="d-flex bd-highlight">
											<div class="img_cont primary">KK</div>
											<div class="user_info">
												<span>David Nester Birthday</span>
												<p class="text-primary">Today</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">SOCIAL</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="img_cont success">RU<i class="icon fa-birthday-cake"></i></div>
											<div class="user_info">
												<span>Perfection Simplified</span>
												<p>Jame Smith commented on your status</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">SEVER STATUS</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="img_cont primary">AU<i class="icon fas fa-user-plus"></i></div>
											<div class="user_info">
												<span>AharlieKane</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="img_cont info">MO<i class="icon fas fa-user-plus"></i></div>
											<div class="user_info">
												<span>Athan Jacoby</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="card-footer"></div>
						</div>
					</div>
					<div class="tab-pane fade" id="notes">
						<div class="card mb-sm-3 mb-md-0 note_card">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/><rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/></g></svg></a>
								<div>
									<h6 class="mb-1">Notes</h6>
									<p class="mb-0">Add New Nots</p>
								</div>
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/><path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/></g></svg></a>
							</div>
							<div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body2">
								<ul class="contacts">
									<li class="active">
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>New order placed..</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fas fa-trash"></i></a>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>Youtube, a video-sharing website..</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fas fa-trash"></i></a>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>john just buy your product..</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fas fa-trash"></i></a>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>Athan Jacoby</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fas fa-trash"></i></a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--**********************************
            Chat box End
        ***********************************-->


		
		
        <!--**********************************
            Header start
        ***********************************-->
		<%- include('partial/header') %>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include('partial/nav') %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
         <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Property</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Add Property</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Property</h4>
                            </div>
                            <div class="card-body">
								<form id="propertyForm">
                                    <div class="row">
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Property Name</label>
                                        <input required type="text" name="name" class="form-control" placeholder="Property Name" required>
                                      </div>
                                      
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Property Type</label>
                                        <select name="type" required class="form-control">
                                          <option value="Lease">Lease</option>
                                          <option value="BOT">BOT</option>
                                          <option value="JV">Joint Ventures (JV)</option>
                                          <option value="PERSONAL">Personal (Owned)</option>
                                        </select>
                                      </div>
                                  
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Address</label>
                                        <input type="text" required name="address" class="form-control" placeholder="Address of your property">
                                      </div>
                                  
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">LGA</label>
                                        <input type="text" required name="lga" class="form-control" placeholder="Local Government Area">
                                      </div>
                                  
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">State</label>
                                        <input type="text" required name="state" class="form-control" placeholder="State">
                                      </div>
                                  
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Country</label>
                                        <select required name="country" class="default-select form-control wide">
                                            <option value="">Select Country</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="United States">United States</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Germany">Germany</option>
                                            <option value="France">France</option>
                                            <option value="India">India</option>
                                            <option value="China">China</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="Australia">Australia</option>
                                        </select>
                                    </div>
                                    
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Floors</label>
                                        <input type="number" required name="floors" class="form-control" placeholder="1" min="1">
                                      </div>
                                  
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Total Rooms</label>
                                        <input type="number" required name="totalroom" class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">How Many 1Bed</label>
                                        <input type="number" required name="bedcount1" class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">1Bed Amount</label>
                                        <input type="number" required name="bedamount1" class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">How Many 2Bed</label>
                                        <input type="number" required name="bedcount2" class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">2Bed Amount</label>
                                        <input type="number" required name="bedamount2" class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">How Many 3Bed</label>
                                        <input type="number" required name="bedcount3" class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">3Bed Amount</label>
                                        <input type="number" required name="bedamount3" class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">How Many 4Bed</label>
                                        <input type="number" required name="bedcount4" class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">4Bed Amount</label>
                                        <input type="number" required name="bedamount4" class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Shops?</label>
                                        <input type="number" required name="shopcount"  class="form-control" placeholder="input a number"" min="1">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Shop Amount</label>
                                        <input type="number" required name="shopamount" class="form-control" placeholder="1" min="1">
                                      </div>
                                  
                                    
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Area (sqm)</label>
                                        <input type="number" required name="sqm" class="form-control" placeholder="85" step="0.01">
                                      </div>
                                  
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Property Worth / Price</label>
                                        <input type="number" required name="amount" class="form-control" placeholder="3000" step="0.01">
                                      </div>
                                  
                                  
                                      <div class="mb-3 col-12">
                                        <label class="form-label">Description</label>
                                        <textarea name="description" required class="form-control" rows="4"></textarea>
                                      </div>
                                  
                                      <div class="mb-3 col-sm-6">
                                        <label class="form-label">Acquired Date</label>
                                        <input type="date" required name="start" class="form-control">
                                      </div>
                                  
                                      <div class="mb-3 col-sm-6">
                                        <label class="form-label">Return Date</label>
                                        <input type="date"  name="end" class="form-control">
                                      </div>
                                  
                                
                                  
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <div class="form-check">
                                            <label class="form-check-label"  for="freshLand">Fresh Land</label>
                                          <input class="form-check-input" required type="checkbox" id="freshLand" checked>
                                        </div>
                                      </div>

                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Previous Owner fullName</label>
                                        <input type="text" required name="prevOwnerName" class="form-control" placeholder="Previous Owner Name">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Previous Owner Phonenumber</label>
                                        <input type="text" required name="prevOwnerPhone" class="form-control" placeholder="Previous Owner Phonenumber">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Previous Owner Email</label>
                                        <input type="text" required name="prevOwnerEmail" class="form-control" placeholder="Previous Owner Phonenumber">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                        <label class="form-label">Previous Owner address</label>
                                        <input type="text" required name="prevOwnerAddress" class="form-control" placeholder="Previous Owner address">
                                      </div>
                                      <div class="mb-3 col-lg-4 col-md-6">
                                          <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                                          <input class="form-control"  type="file" id="formFileMultiple" multiple>
                                       
                                      </div>

                                      <div class="mb-3">
                                          <button  class="btn btn-primary btn-xs" id="submitBtn">Submit</button>
                                      </div>
                                      
                                  
                                      <!-- <div class="mb-3 col-12 text-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                      </div> -->
                                    </div>
                                  </form>
                                  
								<!-- <div class="dropzone-admin mb-3">
									<label class="form-label">Media</label>
									<form class="dropzone" id="multiFileUpload">
										<div class="dz-message needsclick"><i class="fas fa-cloud-upload-alt"></i>
										<h6>Drop files here or click to upload.</h6>
										</div>
									</form>
								</div>   -->

                               
								<!-- <form>
									<div class="row">
										<div class="mb-3 col-12">
											<label class="form-label">video (mp4)</label>
											<input type="text" class="form-control" placeholder="mp4 video link">
										</div>
										<div class="mb-3 col-12">
											<label class="form-label d-block">Additional features</label>
											<div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault4">
                                                <label class="form-check-label" for="flexRadioDefault4"> Emergency Exit</label>
                                            </div>
                                            <div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault5">
                                                <label class="form-check-label" for="flexRadioDefault5"> CCTV</label>
                                            </div>
											<div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault6">
                                                <label class="form-check-label" for="flexRadioDefault6"> Free Wi-Fi</label>
                                            </div>
                                            <div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault7">
                                                <label class="form-check-label" for="flexRadioDefault7"> Free Parking In The Area</label>
                                            </div>
											<div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault8">
                                                <label class="form-check-label" for="flexRadioDefault8"> Air Conditioning</label>
                                            </div>
                                            <div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault9">
                                                <label class="form-check-label" for="flexRadioDefault9"> Security Guard</label>
                                            </div>
											<div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault10">
                                                <label class="form-check-label" for="flexRadioDefault10"> Terrace</label>
                                            </div>
                                            <div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault11">
                                                <label class="form-check-label" for="flexRadioDefault11"> Laundry Service</label>
                                            </div>
											<div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault12">
                                                <label class="form-check-label" for="flexRadioDefault12"> Elevator Lift</label>
                                            </div>
											<div class="form-check form-check-inline">
												<input type="checkbox" class="form-check-input" value="" id="flexRadioDefault13">
                                                <label class="form-check-label" for="flexRadioDefault13"> Balcony</label>
                                            </div>
                                        </div>
										<div class="col-sm-12 pt-3">
											<button type="button" class="btn btn-sm btn-primary me-2">Submit</button>
											<button type="button" class="btn btn-sm btn-danger light">Cancel</button>
										</div>									
									</div>	
								</form> -->
							</div>
                        </div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> <span class="current-year">2024</span></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="vendor/dropzone/dist/dropzone.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/deznav-init.js"></script>
    <script src="vendor/toastr/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



     <script>
        document.querySelector('#submitBtn').addEventListener('click', async function (e) {
                    e.preventDefault();
                    this.disabled = true;
            this.innerText = "Processing...";
            document.getElementById('loaderOverlay').style.display = 'flex';

                 
                     // Get all input values
      const totalroom = parseInt(document.querySelector("[name='totalroom']").value) || 0;
      const bedcount1 = parseInt(document.querySelector("[name='bedcount1']").value) || 0;
      const bedcount2 = parseInt(document.querySelector("[name='bedcount2']").value) || 0;
      const bedcount3 = parseInt(document.querySelector("[name='bedcount3']").value) || 0;
      const bedcount4 = parseInt(document.querySelector("[name='bedcount4']").value) || 0;

      const totalBeds = bedcount1 + bedcount2 + bedcount3 + bedcount4;

      if (totalBeds > totalroom) {
        Swal.fire({
          icon: "error",
          title: "Validation Error",
          text: "Sum of all room types should not be greater than total rooms!",
        });
        return;
      }


            const form = document.getElementById('propertyForm');
            const formData = new FormData(form);

            // Handle file uploads to Cloudinary
            const files = document.getElementById('formFileMultiple').files;
            console.log("🚀 ~ files:", files)
            const uploadedImages = [];

            if (files.length > 0) {
            for (let file of files) {
                const cloudinaryFormData = new FormData();
                cloudinaryFormData.append('file', file);
                cloudinaryFormData.append('upload_preset', 'soaro-realestate');
                cloudinaryFormData.append("folder", "soaro");
                cloudinaryFormData.append('api_key', 'Ilo6RYkxvGRix0UvCSGlxQwG8W0'); 

            try {
                const response = await fetch('https://api.cloudinary.com/v1_1/bada/image/upload', {
                method: 'POST',
                body: cloudinaryFormData
            });
                const data = await response.json();
                uploadedImages.push(data.secure_url);
                } catch (error) {
                    console.error('Error uploading file:', error);
                }
            }
            }

            // Convert formData to an object
            const jsonObject = {};
            formData.forEach((value, key) => {
            jsonObject[key] = value;
            });

            // Append uploaded image URLs
			if (files.length > 0) {
            jsonObject['images'] = uploadedImages;
            if (!jsonObject['images']) {
                Swal.fire({
                        icon: "error",
                        title: "Validation Error",
                        text: "error Uploading Image",
                    });
                return
            }
			}


            // Send final data to the backend
            try {
            const response = await fetch('/property', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonObject)
            });
            const result = await response.json();
			this.disabled = false;
            console.log('Property added successfully:', result);
                if (!result.status) {
                    Swal.fire({
                        icon: "error",
                        title: "Validation Error",
                        text: result.errors.toString(),
                    });
					document.getElementById('loaderOverlay').style.display = 'none';
                }else{
					Swal.fire({
							icon: "success",
							title: "created",
							text: result.message,
						});
						window.location.href = "/property"

				}
            } catch (error) {
				document.getElementById('loaderOverlay').style.display = 'none';
                Swal.fire({
                        icon: "error",
                        title: "Validation Error",
                        text: error.message,
                    });
        //         Swal.fire({
        //   icon: "error",
        //   title: "Validation Error",
        //   text: "Sum of all room types should not be greater than total rooms!",
        // });
        return;
		document.getElementById('loaderOverlay').style.display = 'none';
            console.error('Error submitting form:', error);
            }
            });

     </script>
	
</body>

</html>