<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
	<title>Omah - Real Estate Admin Dashboard Template</title>
 
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="index, follow">
   
	<meta name="keywords" content="admin, dashboard, admin dashboard, admin template, template, admin panel, administration, analytics, bootstrap, hospital admin, modern, property, real estate, responsive, creative, retina ready, modern Dashboard">
	<meta name="description" content="Your Ultimate Real Estate Admin Dashboard Template. Streamline property management, analyze market trends, and boost productivity with our intuitive and feature-rich solution. Elevate your real estate business today!">
   
	<meta property="og:title" content="Omah - Real Estate Admin Dashboard Template">
	<meta property="og:description" content="Your Ultimate Real Estate Admin Dashboard Template. Streamline property management, analyze market trends, and boost productivity with our intuitive and feature-rich solution. Elevate your real estate business today!">
	<meta property="og:image" content="https://omah.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
   
	<meta name="twitter:title" content="Omah - Real Estate Admin Dashboard Template">
	<meta name="twitter:description" content="Your Ultimate Real Estate Admin Dashboard Template. Streamline property management, analyze market trends, and boost productivity with our intuitive and feature-rich solution. Elevate your real estate business today!">
	<meta name="twitter:image" content="https://omah.dexignzone.com/xhtml/social-image.png">
	<meta name="twitter:card" content="summary_large_image">

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet">
	<link href="vendor/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

	<div id="loaderOverlay">
		<div class="spinner"></div>
	</div>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="images/logo.png" alt="/">
                <h6 class="logo-compact">Soaro</h6>
                <img class="brand-title" src="images/logo-text.png" alt="/">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		<div class="chatbox">
			<div class="chatbox-close"></div>
			<div class="custom-tab-1">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="add-Tenant.html#notes">Notes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="add-Tenant.html#alerts">Alerts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" data-bs-toggle="tab" href="add-Tenant.html#chat">Chat</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active show" id="chat" role="tabpanel">
						<div class="card mb-sm-3 mb-md-0 contacts_card dz-chat-user-box">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/><rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/></g></svg></a>
								<div>
									<h6 class="mb-1">Chat List</h6>
									<p class="mb-0">Show All</p>
								</div>
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg></a>
							</div>
							<div class="card-body contacts_body p-0 dz-scroll  " id="DZ_W_Contacts_Body">
								<ul class="contacts">
									<li class="name-first-letter">A</li>
									<li class="active dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Archie Parker</span>
												<p>Kalid is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/2.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Alfie Mason</span>
												<p>Taherah left 7 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/3.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>AharlieKane</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/4.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Athan Jacoby</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">B</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/5.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Bashid Samim</span>
												<p>Rashid left 50 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Breddie Ronan</span>
												<p>Kalid is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/2.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Ceorge Carson</span>
												<p>Taherah left 7 mins ago</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">D</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/3.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Darry Parker</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/4.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Denry Hunter</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">J</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/5.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Jack Ronan</span>
												<p>Rashid left 50 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Jacob Tucker</span>
												<p>Kalid is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/2.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>James Logan</span>
												<p>Taherah left 7 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/3.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Joshua Weston</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">O</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/4.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Oliver Acker</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/5.jpg" class="rounded-circle user_img" alt="/">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Oscar Weston</span>
												<p>Rashid left 50 mins ago</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="card chat dz-chat-history-box d-none">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);" class="dz-chat-history-back">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon points="0 0 24 0 24 24 0 24"/><rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000) " x="14" y="7" width="2" height="10" rx="1"/><path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) "/></g></svg>
								</a>
								<div>
									<h6 class="mb-1">Chat with Khelesh</h6>
									<p class="mb-0 text-success">Online</p>
								</div>							
								<div class="dropdown">
									<a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg></a>
									<ul class="dropdown-menu dropdown-menu-end">
										<li class="dropdown-item"><i class="fas fa-user-circle text-primary me-2"></i> View profile</li>
										<li class="dropdown-item"><i class="fas fa-users text-primary me-2"></i> Add to close friends</li>
										<li class="dropdown-item"><i class="fas fa-plus text-primary me-2"></i> Add to group</li>
										<li class="dropdown-item"><i class="fas fa-ban text-primary me-2"></i> Block</li>
									</ul>
								</div>
							</div>
							<div class="card-body msg_card_body dz-scroll" id="DZ_W_Contacts_Body3">
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										Hi, how are you samim?
										<span class="msg_time">8:40 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Hi Khalid i am good tnx how about you?
										<span class="msg_time_send">8:55 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										I am good too, thank you for your chat template
										<span class="msg_time">9:00 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										You are welcome
										<span class="msg_time_send">9:05 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										I am looking for your next templates
										<span class="msg_time">9:07 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Ok, thank you have a good day
										<span class="msg_time_send">9:10 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										Bye, see you
										<span class="msg_time">9:12 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										Hi, how are you samim?
										<span class="msg_time">8:40 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Hi Khalid i am good tnx how about you?
										<span class="msg_time_send">8:55 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										I am good too, thank you for your chat template
										<span class="msg_time">9:00 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										You are welcome
										<span class="msg_time_send">9:05 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										I am looking for your next templates
										<span class="msg_time">9:07 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Ok, thank you have a good day
										<span class="msg_time_send">9:10 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="/">
									</div>
									<div class="msg_cotainer">
										Bye, see you
										<span class="msg_time">9:12 AM, Today</span>
									</div>
								</div>
							</div>
							<div class="card-footer type_msg">
								<div class="input-group">
									<textarea class="form-control" placeholder="Type your message..."></textarea>
									<div class="input-group-append">
										<button type="button" class="btn btn-primary"><i class="fas fa-location-arrow"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="alerts" role="tabpanel">
						<div class="card mb-sm-3 mb-md-0 contacts_card">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg></a>
								<div>
									<h6 class="mb-1">Notications</h6>
									<p class="mb-0">Show All</p>
								</div>
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/><path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/></g></svg></a>
							</div>
							<div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body1">
								<ul class="contacts">
									<li class="name-first-letter">SEVER STATUS</li>
									<li class="active">
										<div class="d-flex bd-highlight">
											<div class="img_cont primary">KK</div>
											<div class="user_info">
												<span>David Nester Birthday</span>
												<p class="text-primary">Today</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">SOCIAL</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="img_cont success">RU<i class="icon fa-birthday-cake"></i></div>
											<div class="user_info">
												<span>Perfection Simplified</span>
												<p>Jame Smith commented on your status</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">SEVER STATUS</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="img_cont primary">AU<i class="icon fas fa-user-plus"></i></div>
											<div class="user_info">
												<span>AharlieKane</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="img_cont info">MO<i class="icon fas fa-user-plus"></i></div>
											<div class="user_info">
												<span>Athan Jacoby</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="card-footer"></div>
						</div>
					</div>
					<div class="tab-pane fade" id="notes">
						<div class="card mb-sm-3 mb-md-0 note_card">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/><rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/></g></svg></a>
								<div>
									<h6 class="mb-1">Notes</h6>
									<p class="mb-0">Add New Nots</p>
								</div>
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/><path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/></g></svg></a>
							</div>
							<div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body2">
								<ul class="contacts">
									<li class="active">
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>New order placed..</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fas fa-trash"></i></a>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>Youtube, a video-sharing website..</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fas fa-trash"></i></a>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>john just buy your product..</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fas fa-trash"></i></a>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>Athan Jacoby</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fas fa-trash"></i></a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--**********************************
            Chat box End
        ***********************************-->


		
		
        <!--**********************************
            Header start
        ***********************************-->
		<%- include('partial/header') %>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include('partial/nav') %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Tenants</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Add Tenant</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Tenant</h4>
                            </div>
                            <div class="card-body">
								<form action="/tenants"  id="tenantform">
                                    <div class="row">
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">First Name</label>
                                            <input type="text" class="form-control" name="firstname" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Last Name</label>
                                            <input type="text" class="form-control" name="lastname" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Property</label>
                                            <select id="propertySelect" class="default-select form-control wide" name="propertyId" required>
                                                <option value="select">Select Property</option>
                                                <% allLands.forEach(land => { %>
                                                    <option value="<%= land.id %>"><%= land.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                       
                                        <div class="mb-3 col-lg-4 col-md-6 room-container">
                                            <label class="form-label">Room</label> 
                                            
                                        </div>
                                        
                                        
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">State</label>
                                            <input type="text" class="form-control" name="state" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">LCG</label>
                                            <input type="text" class="form-control" name="lcg" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Country</label>
                                            <input type="text" class="form-control" name="country" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Previous Address</label>
                                            <input type="text" class="form-control" name="previousAddress" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Previous Landlord</label>
                                            <input type="text" class="form-control" name="previousLandlord" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Guarantor</label>
                                            <input type="text" class="form-control" name="guarantor" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Guarantor Phone Number</label>
                                            <input type="text" class="form-control" name="guarantorPhonenumber" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Guarantor Address</label>
                                            <input type="text" class="form-control" name="guarantorAddress" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Occupation</label>
                                            <input type="text" class="form-control" name="occupation" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Marital Status</label>
                                            <select class="default-select form-control wide" name="maritalStatus">
                                                <option value="single">Single</option>
                                                <option value="married" selected>Married</option>
                                                <option value="divorced">Divorced</option>
                                                <option value="widow">Widow</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Spouse Name</label>
                                            <input type="text" class="form-control" name="spouseName">
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Gender</label>
                                            <select class="default-select form-control wide" name="gender">
                                                <option value="male" selected>Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Phone Number</label>
                                            <input type="text" class="form-control" name="phonenumber" required>
                                        </div>
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label class="form-label">Family Count</label>
                                            <input type="number" class="form-control" name="familycount" required>
                                        </div>
                                        <!-- <div class="mb-3 col-12">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div> -->
                                        <div class="mb-3 col-lg-4 col-md-6">
                                            <label for="fileInput" class="form-label">Multiple files input example</label>
                                            <input class="form-control"  type="file" id="fileInput" multiple>
                                         
                                        </div>
                                    </div>
                                    <div class="	pt-3">
                                        <button type="submit" class="btn btn-sm btn-primary me-2">Submit</button>
                                        <button type="button" class="btn btn-sm btn-danger light">Cancel</button>
                                    </div>
                                </form>
                                
								<!-- <div class="dropzone-admin mb-3">
									<label class="form-label">Media</label>
									<form class="dropzone" id="multiFileUpload" action="https://omah.dexignzone.com/upload.php">
										<div class="dz-message needsclick"><i class="fas fa-cloud-upload-alt"></i>
										<h6>Drop files here or click to upload.</h6>
										</div>
									</form>
								</div>  
								<div class="	pt-3">
									<button type="button" class="btn btn-sm btn-primary me-2">Submit</button>
									<button type="button" class="btn btn-sm btn-danger light">Cancel</button>
								</div> -->
							</div>
                        </div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> <span class="current-year">2024</span></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="vendor/dropzone/dist/dropzone.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/deznav-init.js"></script>
	<script src="vendor/toastr/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
   
    <script>
        // Store fetched rooms globally
        let fetchedRooms = [];
    
        // Function to create and append the room select element
        function createRoomSelect() {
            const container = document.querySelector(".room-container"); // Make sure the parent container exists
    
            if (!container) {
                console.error("Room container not found!");
                return;
            }
    
            // Remove existing select if it already exists (to avoid duplicates)
            const existingSelect = document.getElementById("roomSelect");
            if (existingSelect) {
                existingSelect.remove();
            }
    
            // Create the select element
            const roomSelect = document.createElement("select");
            roomSelect.id = "roomSelect";
            roomSelect.className = "default-select form-control wide";
            roomSelect.name = "roomId";
            roomSelect.required = true;
    
            // Add default option
            roomSelect.innerHTML = '<option value="">Select Room</option>';
    
            // Append to container
            container.appendChild(roomSelect);
    
            // Add event listeners
            roomSelect.addEventListener("click", populateRooms);
            roomSelect.addEventListener("change", roomSelected);
        }
    
        // Function to fetch rooms based on selected property
        async function fetchRooms(propertyId) {
            if (!propertyId) return;
    
            try {
                const response = await fetch(`/room/rooms/${propertyId}`);
                console.log("Fetch Response Status:", response.status);
    
                if (!response.ok) throw new Error(`Failed to fetch rooms: ${response.status}`);
    
                fetchedRooms = await response.json();
                console.log("Fetched Rooms:", fetchedRooms);
    
                if (!Array.isArray(fetchedRooms) || fetchedRooms.length === 0) {
                    alert("No available rooms for this property.");
                    return;
                }
    
                // Create the select after fetching the data
                createRoomSelect();
    
            } catch (error) {
                console.error("Error fetching rooms:", error);
            }
        }
    
        // Function to populate rooms when clicking on the select dropdown
        function populateRooms() {
            const roomSelect = document.getElementById('roomSelect');
       
    
            if (!roomSelect.hasAttribute('data-loaded') && fetchedRooms.length > 0) {
                roomSelect.innerHTML = `
                    <option value="">Select Room</option>
                    ${fetchedRooms.map(d => `<option value="${d.id}">${d.name}</option>`).join('')}
                `;
                roomSelect.setAttribute('data-loaded', 'true');
                console.log("Updated Room Select Options");
            }
    
            // alert("Click detected: Select a room from the list.");
        }
    
        // Function to handle room selection and show an alert
        function roomSelected() {
            const roomSelect = document.getElementById('roomSelect');
            const selectedRoom = roomSelect.options[roomSelect.selectedIndex].text;
    
            // if (roomSelect.value) {
            //     alert(`✅ Selected Room: ${selectedRoom}`);
            // }
        }
    
        // Event Listener for Property Change
        document.getElementById('propertySelect').addEventListener('change', function () {
            fetchRooms(this.value); // Fetch rooms when property changes
        });
    </script>

<!-- <script>
    document.addEventListener("DOMContentLoaded",  async function () {
        const propertySelect = document.getElementById("propertySelect");
        const roomContainer = document.querySelector(".room-container");
        const form = document.getElementById("tenantform");
        
    
        // Function to create the Room Select dropdown dynamically
        function createRoomSelect() {
            const selectHTML = `
                <label class="form-label">Room</label>
                <select id="roomSelect" class="default-select form-control wide" name="roomId" required>
                    <option value="">Select Room</option>
                </select>
            `;
            roomContainer.innerHTML = selectHTML;
        }
    
        // Call the function to create the room select dropdown initially
        createRoomSelect();
    
        // Fetch available rooms when property is selected
        // propertySelect.addEventListener("change", async function () {
        //     const propertyId = this.value;
        //     const roomSelect = document.getElementById("roomSelect");
        //     roomSelect.innerHTML = `<option value="">Loading...</option>`;
    
        //     if (!propertyId || propertyId === "select") {
        //         roomSelect.innerHTML = `<option value="">Select a property first</option>`;
        //         return;
        //     }
    
        //     try {
        //         const response = await fetch(`/roomooms?propertyId=${propertyId}`);
        //         const rooms = await response.json();
        //         roomSelect.innerHTML = `<option value="">Select Room</option>`;
    
        //         rooms.forEach((room) => {
        //             const option = document.createElement("option");
        //             option.value = room.id;
        //             option.textContent = room.name;
        //             roomSelect.appendChild(option);
        //         });
        //     } catch (error) {
        //         console.error("Error fetching rooms:", error);
        //         roomSelect.innerHTML = `<option value="">Failed to load rooms</option>`;
        //     }
        // });
    
        // Handle form submission
        const formObject = {};
    formData.forEach((value, key) => {
        formObject[key] = value;
    });

    // If a file is selected, upload it to Cloudinary first
    if (fileInput && fileInput.files.length > 0) {
        const imageFile = fileInput.files[0];
        const cloudinaryUrl = "https://api.cloudinary.com/v1_1/YOUR_CLOUDINARY_NAME/upload";
        const cloudinaryPreset = "YOUR_UPLOAD_PRESET";

        const uploadData = new FormData();
        uploadData.append("file", imageFile);
        uploadData.append("upload_preset", cloudinaryPreset);

        try {
            const uploadResponse = await fetch(cloudinaryUrl, {
                method: "POST",
                body: uploadData,
            });

            const uploadResult = await uploadResponse.json();
            if (uploadResult.secure_url) {
                formObject.imageUrl = uploadResult.secure_url; // Add image URL to payload
            }
        } catch (error) {
            console.error("Image upload failed:", error);
            alert("Image upload failed. Try again.");
            return;
        }
    }

	form.addEventListener("submit",async (e) => {
		e.preventDefault();
		alert() 
		return;
		try {
			const response = await fetch("/tenants", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(formObject),
			});
	
			if (response.ok) {
				alert("Tenant added successfully!");
				form.reset();
			} else {
				alert("Failed to add tenant.");
			}
		} catch (error) {
			console.error("Form submission error:", error);
		}
	})
    // Submit form data as JSON
        });
    </script> -->
    
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const propertySelect = document.getElementById("propertySelect");
			const roomContainer = document.querySelector(".room-container");
			const form = document.getElementById("tenantform");
			const fileInput = document.getElementById("fileInput"); // Assuming it's a file input

	
			function createRoomSelect() {
				roomContainer.innerHTML = `
					<label class="form-label">Room</label>
					<select id="roomSelect" class="default-select form-control wide" name="roomId" required>
						<option value="">Select Room</option>
					</select>
				`;
			}
	
			createRoomSelect();
	
			// propertySelect.addEventListener("change", async function () {
			// 	const propertyId = this.value;
			// 	const roomSelect = document.getElementById("roomSelect");
			// 	roomSelect.innerHTML = `<option value="">Loading...</option>`;
	
			// 	if (!propertyId) {
			// 		roomSelect.innerHTML = `<option value="">Select a property first</option>`;
			// 		return;
			// 	}
	
			// 	try {
			// 		const response = await fetch(`/rooms?propertyId=${propertyId}`);
			// 		const rooms = await response.json();
			// 		roomSelect.innerHTML = `<option value="">Select Room</option>`;
	
			// 		rooms.forEach((room) => {
			// 			const option = document.createElement("option");
			// 			option.value = room.id;
			// 			option.textContent = room.name;
			// 			roomSelect.appendChild(option);
			// 		});
			// 	} catch (error) {
			// 		console.error("Error fetching rooms:", error);
			// 		Swal.fire({
			// 			icon: "error",
			// 			title: "Fetch Error",
			// 			text: "Failed to load rooms. Please try again.",
			// 		});
			// 	}
			// });
	
			form.addEventListener("submit", async (e) => {
				e.preventDefault();
				this.innerText = "Processing...";
				document.getElementById('loaderOverlay').style.display = 'flex';
	
				const formData = new FormData(form);
				const formObject = {};
	
				formData.forEach((value, key) => {
					formObject[key] = value;
				});
	
				formObject.imageUrl = []; // Initialize as an array
	
				// Handle multiple file uploads
				if (fileInput && fileInput.files.length > 0 || fileInput.files.length === 0) {
					const cloudinaryUrl = "https://api.cloudinary.com/v1_1/bada/image/upload";
					const cloudinaryPreset = "Ysoaro-realestate";
	
					const uploadPromises = Array.from(fileInput.files).map(async (file) => {
						const uploadData = new FormData();
					
						uploadData.append('file', file);
                uploadData.append('upload_preset', 'soaro-realestate');
                uploadData.append("folder", "soaro");
                uploadData.append('api_key', 'Ilo6RYkxvGRix0UvCSGlxQwG8W0--'); 
	
						try {
							const uploadResponse = await fetch(cloudinaryUrl, {
								method: "POST",
								body: uploadData,
							});
	
							const uploadResult = await uploadResponse.json();
							if (uploadResult.secure_url) {
								formObject.imageUrl.push({url:uploadResult.secure_url,id:uploadResult.public_id});
							}
						} catch (error) {
							console.error("Image upload failed:", error);
							Swal.fire({
								icon: "error",
								title: "Image Upload Error",
								text: "Failed to upload image(s). Please try again.",
							});
						}
					});
	
					await Promise.all(uploadPromises); // Wait for all uploads to finish
				}
	
				try {
					const response = await fetch("/tenant", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify(formObject),
					});
					const data =  await response.json();
					console.log("🚀 ~ form.addEventListener ~ data:", data)
	
					if (response.ok) {
						document.getElementById('loaderOverlay').style.display = 'none';
						Swal.fire({
							icon: "success",
							title: "Success!",
							text: data.message,
						});
						form.reset();
					} else {
						document.getElementById('loaderOverlay').style.display = 'none';
						Swal.fire({
							icon: "error",
							title: "Submission Failed",
							text: data.message,
						});
					}
				} catch (error) {
					document.getElementById('loaderOverlay').style.display = 'none';
					console.error("Form submission error:", error);
					Swal.fire({
						icon: "error",
						title: "Error",
						text: error.toString(),
					});
				}
			});
		});
	</script>
	
    
    
    
    
	
</body>

</html>