 <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2021 Eliteadmin by themedesigner.in
            <a href="https://www.wrappixel.com/">WrapPixel</a>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../assets/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- <script src="../assets/node_modules/jquery/dist/jquery.min.js"></script> -->
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="../assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../realestate/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- <script src="../realestate/dist/js/perfect-scrollbar.jquery.min.js"></script> -->
    <!--Wave Effects -->
    <script src="../realestate/dist/js/waves.js"></script>
    <!-- <script src="../realestate/dist/js/waves.js"></script> -->
    <!--Menu sidebar -->
    <script src="../realestate/dist/js/sidebarmenu.js"></script>
    <!-- <script src="../realestate/dist/js/sidebarmenu.js"></script> -->
    <!--Custom JavaScript -->
    <script src="../realestate/dist/js/custom.min.js"></script>
    <!-- <script src="../realestate/dist/js/custom.min.js"></script> -->
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="../assets/node_modules/raphael/raphael-min.js"></script>
    <!-- <script src="../assets/node_modules/raphael/raphael-min.js"></script> -->
    <script src="../assets/node_modules/morrisjs/morris.min.js"></script>
    <!-- <script src="../assets/node_modules/morrisjs/morris.min.js"></script> -->
    <script src="../assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- <script src="../assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script> -->
    <!-- Popup message jquery -->
    <script src="../assets/node_modules/toast-master/js/jquery.toast.js"></script>
    <!-- <script src="../assets/node_modules/toast-master/js/jquery.toast.js"></script> -->
    <!-- Chart JS -->
    <!-- <script src="../realestate/dist/js/dashboard1.js"></script> -->
    <script src="../realestate/dist/js/dashboard1.js"></script>
    <!-- <script src="../assets/node_modules/jquery/dist/jquery.min.js"></script> -->
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- <script src="../realestate/dist/js/perfect-scrollbar.jquery.min.js"></script> -->
    <!--Wave Effects -->
    <script src="../dist/js/waves.js"></script>
    <!-- <script src="../realestate/dist/js/waves.js"></script> -->
    <!--Menu sidebar -->
    <script src="../dist/js/sidebarmenu.js"></script>
    <!-- <script src="../realestate/dist/js/sidebarmenu.js"></script> -->
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>
    <!-- <script src="../realestate/dist/js/custom.min.js"></script> -->
    <!-- This Page JS -->
    <script src="../assets/node_modules/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="../dist/js/pages/mask.init.js"></script>
    <!-- <script src="../realestate/dist/js/pages/mask.init.js"></script> -->
    <script src="../dist/js/pages/mask.init.js"></script>
    <!-- <script src="../realestate/dist/js/pages/mask.init.js"></script> -->
    <script src="../assets/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
    <!-- jQuery file upload -->
    <script src="../assets/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script src="../assets/node_modules/moment/moment.js"></script>
    <script src="../assets/node_modules/footable/js/footable.min.js"></script>
    
    <script src="../assets/node_modules/moment/moment.js"></script>
    <script src="../assets/node_modules/footable/js/footable.min.js"></script>
    
    <script>
    $("input[name='tch1']").TouchSpin();
    $("input[name='tch2']").TouchSpin();
    $("input[name='tch3']").TouchSpin();
    $("input[name='tch4']").TouchSpin();
    $("input[name='tch5']").TouchSpin();
    $('.dropify').dropify();
    </script>
    <script type="text/javascript">
    jQuery.browser = {};
    (function() {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();
    </script>
      <script>
        $(function () {
            $('#demo-foo-addrow').footable();
        });
    </script>
</body>

</html>